.introduction h1:nth-child(1) {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 97.9%;
    color: #FFFFFF;
}

.introduction h1:nth-child(2) {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    line-height: 10%;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    color: #6A17FF;
    margin-left: 30px;
}

.introduction p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height:26px;
    margin-top: 1rem;
    color: #FFFFFF;
}
.introduction span {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}




@media only screen and (max-width: 992px) {}

@media only screen and (min-width: 768px) {

    .introduction h1:nth-child(1),
    .introduction h1:nth-child(2) {
        font-size: 80px;
    }
    .introduction h1:nth-child(2){
        margin-top: 20px;
    }

   
}

@media only screen and (min-width: 1200px) {
    .introduction p {
        font-weight: 500;
        font-size: 32px;
        line-height: 41px;
        margin-top: 1rem;
    }
    .introduction h1:nth-child(1),
    .introduction h1:nth-child(2) {
        font-size: 128px;
    }
    .introduction h1:nth-child(2){
        margin-left: 50px;
        margin-top: 40px;
    }
}