

footer p{
    font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

}
.icon img {
    width: 13px;
    height: 13px;
    margin-right: 10px;
}

.icon {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    color: #FFFFFF;
}

footer .logo{
   
}

