.collection h1 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 97.9%;
    color: #FFFFFF;
    margin-left: 80px;
}

.collection h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 10%;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    color: #C626C6;
}

.collection h6 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 132.9%;
    color: #FFFFFF;
}

.collection p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 139.11%;
    color: #FFFFFF;
}

.CollectionBtn {
    width: 207px;
    height: 46px;
    background: #C626C6;
    border-radius: 3px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    outline: none;
}

.collection .purple-head {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    text-align: justify;
    color: #C626C6;
}

.collection span {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;

    color: #FFFFFF;
}







@media only screen and (min-width: 768px) {

    .collection h1,
    .collection h2 {
        font-size: 80px;
    }

    .collection h1 {
        margin-left: 250px;
        margin-bottom: 20px;
    }

    .collection h6 {
        font-size: 20px;
    }

    .collection p {
        font-weight: 400;
        font-size: 18px;
    }

}

@media only screen and (min-width: 1200px) {

    .collection h1,
    .collection h2 {
        font-size: 128px;
    }

    .collection h1 {
        margin-left: 500px;
        margin-bottom: 40px;
    }

    .collection p {
        font-weight: 400;
        font-size: 18px;
    }

    .collection h6 {
        font-size: 32px;
    }

}